<template>
  <div>
    <button class="btn btn-primary" @click="show = true">Создать хранилище</button>
    <br>
    <br>
    <transition name="fade">
      <div v-if="show" class="alert alert-danger" style="max-width: 500px">
        Для внешних приложений и вебхуков библиотека использоваться не может.
        <br>
        <a href="https://dev.1c-bitrix.ru/rest_help/js_library/index.php">
          <strong>
            https://dev.1c-bitrix.ru/rest_help/js_library/index.php
          </strong>
        </a>
      </div>
    </transition>
  </div>
</template>

<script>

// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  data(){
    return {
      show: false
    }
  }
}
</script>
<style>
.fade-enter{
  opacity: 0;
}

.fade-enter-active{
  transition: opacity 0.5s;
}

.fade-leave-active{
  transition: opacity 0.5s;
}

.fade-leave-to{
  opacity: 0;
}
</style>
