<template>
  <div class="home">
    <p class="text-center">
        <strong>
            Page is not found
        </strong>
    </p>
  </div>
</template>

<script>

// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  components: {
    // HelloWorld
  }
}
</script>
<style lang='scss' scoped>
    p{
        margin: 50px 0;
        font-size: 25px;    
    }    
</style>
