<template>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ea nihil similique esse quibusdam consequuntur, tempora ex, temporibus veniam dolore qui itaque. Laboriosam amet impedit velit debitis cum, doloremque earum.</p>
  </div>
</template>
