<template>
  <div>
    <div id="pdf">
      <p>В системе обнаружено {{list.length}} элементов</p>
      <p>Выбрано пользователем {{selectedCount}} элемента</p>
    
      <ul class="list-group">
        <li class="list-group-item">
          <strong>
            Выбранные элементы 
          </strong>
        </li>
        <li class="list-group-item" v-for="(item, i) in selectedList" :key="item.id">
          {{item.title}}
        </li>
      </ul>
    </div>
    <div>
      <hr>
      <button class="btn btn-primary" @click="download">Скачать pdf</button>
    </div>
  </div>
</template>

<script>

import {mapGetters} from 'vuex'
import html2canvas from 'html2canvas'
import jsPDF from 'jspdf'
const doc = new jsPDF('p', 'mm');



export default {
  components: {
    // HelloWorld
  },
  computed: {
    ...mapGetters({
        list:'selectItems/list',
        selectedCount:'selectedItems/count',
        selectedList:'selectedItems/list'
    }),
  },
  methods: {
    download(){
      html2canvas(this.$el.querySelector('#pdf'), {
        maxWidth: 800
      }).then((canvas) => {
        // this.$el.appendChild(canvas)
        const imgData = canvas.toDataURL('image/jpeg');
        const imgProps = doc.getImageProperties(imgData);
        const pdfWidth = doc.internal.pageSize.getWidth();
        const pdfHeight = (imgProps.height * pdfWidth) / imgProps.width;
        doc.addImage(imgData, 'PNG', 10, 30, (pdfWidth - 20), (pdfHeight - 20));
        doc.save('download.pdf');
      });
    }
  },
  created () {
    
  }
}
</script>
<style>
#pdf{
  max-width: 800px;
}
</style>