<template>
  <selected-items></selected-items>
</template>

<script>
import SelectedItems from '~c/SelectedItems'
export default {
  components: {
    SelectedItems
  }
}
</script>
<style lang="scss" scoped>
</style>