<template>
  <div>
    <selected-items></selected-items>
    <hr>
    <select-items></select-items>
  </div>
</template>

<script>
import SelectedItems from '~c/SelectedItems'
import SelectItems from '~c/SelectItems'
export default {
  components: {
    SelectedItems,
    SelectItems
  }
}
</script>
<style lang="scss" scoped>
</style>