<template>
  <select-items></select-items>
</template>

<script>
import SelectItems from '~c/SelectItems'
export default {
  components: {
    SelectItems
  }
}
</script>
<style lang="scss" scoped>
</style>
