<template>
  <div id="nav">
    <router-link v-if="route.name !== 'E404'" :to="{name: route.name}" :key="route.name" v-for="(route, i) in routes">
        {{route.meta.title}}
    </router-link>
  </div>  
</template>

<script>
export default {
  computed: {
    routes() {
      return this.$router.options.routes;
    }
  }
}
</script>
    
<style lang="scss" scoped>
#nav {
  a {
    text-decoration: none;
    color: #2c3e50;
    display: block;
    padding: 7px 15px;
    border-radius: 5px;
    margin-bottom: 5px; 
    color: #037dfd;
    width: 100%;
    &.router-link-exact-active {
      color: #fff;
      background: #037dfd;
    }
  }
}
</style> 
