<template>
  <div>
    <button class="btn btn-primary" @click="showModal = true">Выбрать элементы</button>
    
    <v-modal v-if="showModal" @close="showModal = false">
      <h3 class="text-success" slot="header">
        Диалог выбора элементов
      </h3>
      <div slot="body">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Поиск" v-model="search">
        </div>
        <div class="checkList">
          <div class="form-group form-check"  v-for="(item, i) in filterList" :key="item.id">
            <input 
              type="checkbox" 
              class="form-check-input" 
              :checked="status(item.id)" 
              :id="`check-${item.id}`"
              @change="onSelect(item, $event)"
              :disabled="disabled(status(item.id))">
            <label class="form-check-label" :for="`check-${item.id}`">
              {{item.title}}
            </label>
          </div>
        </div>
        <p>Выбрано эелементов {{localselectedList.length}}</p>
        <span class="btn btn-secondary btn-span" v-for="(item, i) in localselectedList" :key="item.id">
          {{item.title}}
          <i @click="remove(item.id)"> 
            &times;
          </i>
        </span>
      </div>
      <div class="text-success" slot="footer">
        <button class="btn btn-success" @click="onSave">Сохранить выбор</button>
        <button class="btn btn-secondary" @click="onCancel">Отменить</button>
      </div>
    </v-modal>
  </div>
</template>

<script>

import {mapGetters, mapActions} from 'vuex'
import VModal from '~c/Modal'

export default {
  data(){
    return {
      showModal: false,
      search: '',
      localselectedList: [],
      countSelected: 5
    }
  },
  components: {
    VModal
  },
  computed: {
    ...mapGetters({
        list:'selectItems/list',
        selectedCount:'selectedItems/count',
        selectedList:'selectedItems/list'
    }),
    filterList(){
      let num;
      if(this.search != ''){
        num = this.list.filter( (el) => {
          let title = el.title.toLowerCase()
          let search = this.search.toLowerCase()
          return title.search(search) >= 0 
        });
      }else{
        num = this.list
      }
      return num
    },
    
  },
  methods: {
    ...mapActions({
        save:'selectedItems/saveSelected'
    }),
    onSave(){
      this.showModal = false
      let newSelectd = [...this.localselectedList]
      this.save(newSelectd)
    },
    onCancel(){
      this.showModal = false
      this.genLocalList()
    },
    onSelect(item, e){
      if(e.target.checked){
        this.localselectedList.push(item)
      }else{
        this.remove(item.id)
      }
    },
    remove(id){
      this.localselectedList = this.localselectedList.filter(function( el ) {
        return el.id !== id;
      });
    },
    status(id){
      return status = this.localselectedList.some( elem => elem.id == id);
    },
    disabled(status){
      let count =  this.localselectedList.length < this.countSelected
      
      if(!count && !status){
        return true
      } 
      return false
    },
    genLocalList(){
      this.localselectedList = this.selectedList.map((el) => {
        return {
          id: el.id,
          title: el.title,
        }    
      });
    }
  },
  created(){
    this.genLocalList()
  }
}
</script>
<style lang="scss" scoped>
.btn{
    margin: 0 5px 5px 0;
    i{
        cursor: pointer;
        margin-left: 4px; 
    }

}
.btn-span{
  cursor: auto
}
.checkList{
  height: 150px;
  overflow-y: auto;
  margin-bottom: 15px;  
}
</style>
