<template>
  <div>
    <p>Выбрано эелементов  {{count}}</p>
    <div class="list">
        <span class="btn btn-secondary" v-for="(item, i) in list" :key="item.id">
            {{item.title}}
            <i @click="remove({num : i})">
                &times;
            </i>
        </span>
    </div>
    
  </div>
</template>

<script>

import {mapGetters, mapActions} from 'vuex'

export default {
  name: 'Home',
  computed: {
    ...mapGetters({
        count:'selectedItems/count',
        list:'selectedItems/list'
    })
  },
  methods: {
    ...mapActions({
        remove:'selectedItems/remove',
    })
  }
}
</script>
<style lang="scss" scoped>
.btn{
    margin: 0 5px 5px 0;
    cursor: auto; 
    i{
        cursor: pointer;
        margin-left: 4px; 
    }

}
</style>
