<template>
  <div id="app">
    <div class="sideBar">
        <app-menu></app-menu>
    </div>
    <div class="wrapper">
      <app-page-head></app-page-head>
      <router-view/>
    </div>  
  </div>
</template>

<script>
import AppMenu from '~c/Menu.vue'
import AppPageHead from '~c/PageHead.vue'

export default {
  components: {
    AppMenu,
    AppPageHead
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;  
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: flex;
  background: #f6fbfc;
  min-height: 100vh;
  padding: 15px 0;
  min-width: 800px;
}
.sideBar{
  border-right: 1px solid #e8ecee;
  padding: 15px;
  flex: 0 0 300px;
}
.wrapper{
  flex: 1 1 auto;
  padding: 15px;
}
</style>
